@import url('https://fonts.googleapis.com/css?family=Hi+Melody');

html, body{
  height: 100vh;
  width: 100vw;
  margin:0px;
  padding:0px;
    -webkit-font-smoothing: antialiased;
/*  background-color: #FAAB81;*/
    
}


::-webkit-scrollbar {display:none;}

/*
 optional: show position indicator in red 
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

ul.soc > li:hover a {
    background-image:
    linear-gradient(
      to right, 
      #F24E20, #CDA435
    );
}

/*
.ui.dimmer {
    background-color: rgba(0,0,0,.95);
}
*/

#locationMotherDiv, #locationImageWrapper {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    
    border: 0px solid #000000;
}


#locationMotherDiv {
    position: relative; 
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 65px;
    color: white;
    height: 550px;
    padding-left: 5px;
    padding-right: 5px
}

#locationImageWrapper {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    
    display: inline-block;
    overflow: hidden;
    width: 85%;
    height: 100%;
}

#locationTextContainer {
    font-size: 30px !important;
    line-height: 1.29;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    transition: all 0.25s ease-in-out;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 33%;
    width: 40%;
    background-color: #161616;
    padding-left: 5px;
    padding-right: 5px;
    opacity: .88;
}

#locationMotherDiv:hover #locationTextContainer {
    width: 84% !important;
    height: 100% !important;
    color: #CDA435;
/*    font-size: 42px !important;*/
    text-decoration: underline;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

#locationMotherDiv:hover {
    cursor: pointer;
}

#locationImageWrapper > img {
    transition: all 0.25s ease-in-out;
}


#locationMotherDiv:hover #locationImageWrapper > img {
     transform:scale(1.35);
    -ms-transform:scale(1.35); 
    -moz-transform:scale(1.35); 
    -webkit-transform:scale(1.35); 
    -o-transform:scale(1.35); 
}

#locationImage {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#locationLabel {
    text-decoration: none;
    
    position: absolute; 
    top: 50%;
    left: 50%;
    letter-spacing: 2.29px;
    transform: translate(-50%, -50%);
    font-family: "Crimson Text", serif;
    max-width: 100%; 
    max-height: 100%
}

#bookCardMotherDiv {
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    transition: all 0.2s ease-in-out;
    
}

#bookCardMotherDiv:hover {
   cursor: pointer;
   transform: translate(0, -1em) 
}

#bookCardMotherDiv:hover #bookCardDetail, #bookCardMotherDiv:hover #bookCardCover {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

#bookCardCover {
    height: 495px; 
    display: block;
    border: 2px solid #000000;
    transition: all 0.2s ease-in-out;
}

#bookCardCover > img {
    width: 100%;
    height: 100%
}

#bookCardDetail {
    max-height: 155px;
    margin-top: -95px;
    background-color: white;
    display: block;
    max-width: 50%;
    z-index: 2;
    position: relative;
    margin-left: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid #000000;
    transition: all 0.2s linear;
}

#bookCardDetail h4 {
    font-family: "Crimson Text", serif;
    letter-spacing: 1.25px;
    line-height: 1.59;
    padding-left: 5px;
    padding-right: 5px
}

#bookCardDetail a {
    color: #B2B4B5;
    font-size: 12px;
    margin-top: -5px;
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.2s;
}

#bookCardMotherDiv:hover #bookCardDetail > a {
    border-color: #CDA435

}


#poemTextContainer {
    font-size: 16px !important;
    line-height: 1.29;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 33%;
    width: 40%;
    background-color: #161616;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    opacity: .85;
    transition: all 0.2s linear; 
}

#poemLabel {
    
    color: white;
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    letter-spacing: 2.29px;
    transform: translate(-50%, -50%);
    font-family: "Crimson Text", serif;
    max-width: 100%; 
    max-height: 100%;
    transition: all 0.2s linear; 
}


#poemMotherDiv:hover #poemTextContainer {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

#poemMotherDiv:hover #poemLabel {
    display: block;
    cursor: pointer;
    color: #CDA435;
}


#blogCard {
    font-family: 'Open Sans' !important;
}

#blogCard:hover { 
    -webkit-box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.75);
}


#menubarGrid {
    height: 100vh !important ; 
    position: relative;
    animation: 0.3s ease-in-out 0s 1 rollIn;
/*    transition: width ease-in 0.1s, height ease-in 0.1s; */
    
}


#menubar {
    /* Adding scroll */ 
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    
    height: 100%;
    width: 25.5%;
    position: fixed;
    
/*    z-index: 10;*/

    border-right: 0;
    
/*    padding-top: 20px; */

    /* CURVATURE */
    
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #B2B4B5;
/*    border-right: 0.1px solid #B2B4B5;*/
    

    /* FONTS */
        
    font-family: "Lato";
    text-align: center;
    
    background-image: linear-gradient(to right, white,#F7F1E3)

}

#menubarTitle {
    background-color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #CDA435;
    
    /* Border Radius */ 
    border-radius: 0px 0px 35px 35px;
    -moz-border-radius: 0px 0px 35px 35px;
    -webkit-border-radius: 0px 0px 35px 35px;
    border: 0px solid #000000;
    
}

#menubarTitle h3 {
    font-family: 'Grand Hotel', cursive;
    font-size: 26px;
    letter-spacing: 1.5px;
}

#menubarImgGrid {
    margin-bottom: 40px; 
    margin-top: 25px; 
}

#sidebarImg {
    margin-left:auto;
    margin-right:auto;
}

#sidebarHori {
    padding-left: 10px;
    padding-right: 10px; 
    max-width: 25%;
    height: 1px;
    background: #CDA435;
    
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border: 0px solid #CDA435;
    
}

#mainPageHori {
    
    height: 1.2px;
    background: #000000;
    margin-bottom: 30px;
    border-radius: 1.2px 1.2px 1.2px 1.2px;
    -moz-border-radius: 1.2px 1.2px 1.2px 1.2px;
    -webkit-border-radius: 1.2px 1.2px 1.2px 1.2px;
    border: 0px solid #000000;

}

#mainPageSectionIndicatorDiv {
    padding-top: 28px;
    padding-left: 10px;
    padding-bottom: 26px;
    width: 100%;
    background-color: black;
    
    /* Border Radius */ 
    border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    border: 0px solid #000000;
}

#mainPageSectionIndicator {
    margin-left: -2.5%;
    color: #CDA435;
    font-family: 'Open Sans' !important;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.8px;
}



#menubar > div.menubarItemGrid > a > a {
    font-weight: 500;
    font-family: 'Open Sans';
    font-size: 15px; 
    display: inline-block;
    letter-spacing: 0.4px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
}

#menubar > div.menubarItemGrid > a > a:hover {  /* Menubar Items  */ 

/*  background-color: #CDA435;    */
    
  background-image:
    linear-gradient(
      to right, 
      #F24E20, #CDA435
    );
    
  color: CDA435;
  filter: brightness(125%);

}


#featuredList { 
  font-family: 'Open Sans';
  font-size: 15px;     
}

#featuredList div.item {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
    
    
    
 
 transition: background-image 0.5s ease-out;
 -webkit-transition: background-image 0.5s ease-out;
  
}

#featuredList div.item:hover {
    
  
  background-image:
    linear-gradient(
      to right, 
      #F24E20, #CDA435
    );
 
/*  color: #CDA435;*/
  filter: brightness(125%);
}

#featuredList > div.item:hover div.content {
  
}



#mainContentGrid {
  transition: width ease-in 0.2s, height ease-in 0.2s; 
}


div#root, #motherGrid {
  
  background-image: linear-gradient(to right, #F7F1E3, #EFE2C3);  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#mainPage {
    
    margin-bottom: 10px;
    animation: 0.5s ease-in-out 0s 1 fadeInRight;
    transition: all 0.5s linear;
    
    background-image: linear-gradient(to right, #F7F1E3, #EFE2C3)
    
}

#mainPage h1, h3 {
    text-align: center;
}

/*
#mainPage #profileImage {
    height: auto;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
*/

#mainPage #mainProfile {
    text-align: center
}

#mainPage #imageDiv {
    display: inline-block;
}

#imageDiv {
    
    width: 100%;
    border: 0px solid #000000;
    
}

#detailedSegment {
    
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px; 
    padding-left: 70px;
    padding-right: 50px;
    
    font-family: "Arvo";
    text-align: center;
    
    /* CURVATURE */
    
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;
    
}

#detailedSegment-fullscreen {
    
    margin-top: 100px;
    margin-left: 115px;
    margin-right: 15px; 
    margin-bottom: 35px;
    padding-left: 115px;
    padding-right: 90px; 
    font-family: "Arvo";
    text-align: center;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;
    
}

#mainPageImgDiv {
    max-width: 100%;
    max-height: 70%;
    padding-top: 50px;
    margin: 0 auto;
}

#blogSegment {
    
    margin-top: 20px;
/*
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 35px; 
*/
    max-width: 66%;
    margin: 0 auto;
    letter-spacing: -.003em;
    
    /* CURVATURE */
    
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;
    
}

#blogSegment h1, #blogSegment h2, #blogSegment h3, #blogSegment h4{
    text-align: left;
}

div#blogSegment > h1, div#blogSegment > h2, div#blogSegment > h3, div#blogSegment > h4 {
    font-family: "Open Sans";
}

div#blogSegment > p {
    font-family: "Crimson Text", serif; 
    font-size: 19px; 
    line-height: 1.59;
    
}


#mainPageBackIconNoSideBar {
    color: #CDA435;
    width: 45px;
    height: 45px;
    position: fixed;
    margin-top: -7px;
    right: 2.5%;
    font-size: 44px;
    background-color: black;
    border: 1.5px double #CDA435 !important;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

#mainPageBackIconNoSideBar:hover {
    border: none;
    background-color: #CDA435;    
    color: black;
    cursor: pointer;
}

#pageTitleSegment {
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 35px; 
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
/*    position: absolute;*/
    border-radius: 0px 0px 18px 18px;
    -moz-border-radius: 0px 0px 18px 18px;
    -webkit-border-radius: 0px 0px 18px 18px;
/*    border: 2px solid #264F4F;*/
    border-top: 0px;
    
    position: fixed;
    width: 70%;
    z-index: 30;
    
}

#pageTitleSegment > div > h1 {
    
    color: #CDA435;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2.2px;
    
}

#sectionTitleDivNoSideBar {
    float: left;
    max-width: 66%;
    padding-top: 25px;
    margin-top: -5px;
}


#logoFooter {
/*    border: 1px double black;*/
    
    background-image:
    linear-gradient(
      to right, 
      #F24E20, #CDA435
    );
    width:  75px;
    height: 75px;
    margin: 0 auto;
    display: table;
}

#logoTextFooter {
    vertical-align: middle;
    display: table-cell;
    color: black;
    font-family: 'Grand Hotel', cursive;
    font-size: 37px;
    letter-spacing: 1.5px;
}


#logoTextBoxSidebar {
    border: 1px double #CDA435;
    width:  45px;
    height: 45px;
    margin: 0 auto;
    display: table;
}

#logoTextBoxNoSidebar {
    border: 1px double #CDA435;
    width: 45px;
    height: 45px;
    margin-top: -7px;
    left: 2.5%;
    display: table;
    background-color: black;
    position: fixed;
}

#logoTextBoxSidebar:hover, #logoTextBoxNoSidebar:hover, #logoText:hover {
    background-color: #CDA435;    
    color: black;
    cursor: pointer;
/*    filter: brightness(95%);*/
}

#logoText {
    vertical-align: middle;
    display: table-cell;
    color: #CDA435;
    font-family: 'Grand Hotel', cursive;
    font-size: 26px;
    letter-spacing: 1.5px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
